<!-- A cool alternate nav class is navbar navbar-inverse navbar-fixed-top-->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Home', root_path, class: "navbar-brand" %>
      <%= link_to 'Manage', restaurants_path, class: "navbar-brand" %>
    </div>
  </div>
</nav>