<form role="form">
  <div class="form-group">
    <label for="distance">Distance:</label>
    <select class="form-control">
      <td><option>Any</option></td>
      <% @distances.each do |c| %>
          <tr>
            <td><option><%=c%></option></td>
          </tr>
      <% end %>
      <select>
  </div>


  <div class="form-group">
    <label for="cuisine">Cuisine:</label>
    <select class="form-control">
      <td><option>Any</option></td>
      <% @cuisines.each do |c| %>
        <tr>
          <td><option><%=c%></option></td>
        </tr>
      <% end %>
    <select>
  </div>

  <div class="form-group">
    <label for="cost">Cost:</label>
    <select class="form-control">
      <td><option>Any</option></td>
      <% @costs.each do |c| %>
          <tr>
            <td><option><%=c%></option></td>
          </tr>
      <% end %>
      <select>
  </div>
  <div>
    <input type="submit" value="Save" />
  </div>
</form>
