<h1>Chewser</h1>
<p>Welcome to Chewser! Let me tell you where you're going to eat, since you're too indecisive.
</p>

<p><%= button_to "Manage Restaurants", restaurants_path, :method => "get" %></p>

<p><a class="btn-decide" href="">Decide!</a></p>