<div class="jumbotron">
  <h1>Chewser</h1>
  <p class="lead">Welcome to Chewser! Let me tell you where you're going to eat, since you're too indecisive.</p>
  <hr>
  <div class="text-center">
    Filters:
    <%= render 'form' %>
  </div>
  <hr>
  <% if !@msg.empty?%>
  <div class="text-center">
    <p class="lead">You will be dining with the fine people at:</p>
    <div>
      <p><%= @msg %></p>
    </div>
  </div>
  <% else %>
      <div class="text-center">
          <p class="lead"><%= @error_msg %></p>
      </div>
  <% end %>
</div>



