<h1>Chewser</h1>
<h2>Manage Restaurants</h2>
<p><%= button_to 'Back', root_path, :method => "get"%></p>
<p> Here you can add, delete, and view your current pool of restaurants. </p>
<table>
  <tr>
    <th>Name</th>
  </tr>

  <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= link_to restaurant.name, restaurant %></td>
      </tr>
  <% end %>
</table>
<p><%= link_to 'Add', new_restaurant_path %> <a href="#">Delete</a> <a href="#">Update</a> <%= link_to 'Back', root_path %></p>
